<app-nav-bar></app-nav-bar>
<div id="settings-cont">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
				<div id="celebrities-cont">
					<div id="celebrities-header-text">Celebrities</div>
					<div *ngFor="let celebrity of celebrities" attr.data-celebid="{{celebrity._id}}" class="celebrity-item">
						<div class="celebrity-name">{{celebrity.name}}</div>
						<div class="follow-button">
							Follow
							<img src="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
