#settings-cont {
	font-family: 'Montserrat', sans-serif !important;
	#celebrities-cont {
		height: 550px;
		overflow-y: scroll;
		border-radius: 10px;
		border-left: 1px solid lightgrey;
		border-right: 1px solid lightgrey;
		border-bottom: 1px solid lightgrey;

		#celebrities-header-text {
			border-radius: 10px 10px 0 0;
			font-size: 38px;
			height: 60px;
			background: lightgrey;
			line-height: 60px;
			text-align: center;
		}
		.celebrity-item {
			height: 30px;
			margin: 10px 0;
			padding: 0 10px;

			.celebrity-name {
				display: inline-block;
				font-size: 26px;
				line-height: 30px;
			}

			@media screen and (max-width: 500px) {
				.celebrity-name {
					font-size: 18px;
				}
			}


			.follow-button-cont {
				display: inline-block;
				float: right;
				.follow-button {
					background: lightgrey;
					padding: 5px 25px;
					color: white;
					border-radius: 5px;
					cursor: pointer;

					&.isFollowed {
						background: black;
					}
				}
			}
		}
	}
}
