<div id="settings-cont">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
				<div id="celebrities-cont">
					<div id="celebrities-header-text">Celebrities</div>
					<div *ngFor="let celebrity of allCelebrities" attr.data-celebid="{{celebrity.id}}" class="celebrity-item">
						<div class="celebrity-name">{{celebrity.name}}</div>

						<div *ngIf="celebrity.isFollowed" class="follow-button-cont">
							<div class="follow-button isFollowed" (click)="unfollow($event)">Unfollow</div>
						</div>
						<div *ngIf="!celebrity.isFollowed" class="follow-button-cont">
							<div class="follow-button" (click)="follow($event)">Follow</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
