.twitter-item {
	max-width: 660px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	margin: auto;
	margin-bottom: 50px;

	.header {
		display: block;
		padding: 15px;
		height: 80px;

		.profile-info {
			display: inline-block;

			.profile-picture {
				display: inline-block;
				padding: 2px 0;
				vertical-align: top;

				img {
					height: 46px;
					width: 46px;
					border-radius: 23px;
				}
			}
			.names {
				display: inline-block;
				padding: 3px 5px;

				.name {
					display: block;
				}
				.handle {
					display: block;
				}
			}
		}
		.logo {
			display: inline-block;
			padding: 2px;
			float: right;

			img {
				height: 46px;
				width: 46px;
			}
		}
	}
	.tweet {
		display: block;
		padding: 15px;
	}
	.footer {
		display: block;
		padding: 15px;

		.actions {
			display: inline-block;

			img {
				height: 20px;
			}
		}
		.date {
			display: inline-block;
			float: right;
		}
	}
}
