.twitter-item {
  max-width: 660px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 50px;
}
.twitter-item .header {
  display: block;
  padding: 15px;
  height: 80px;
}
.twitter-item .header .profile-info {
  display: inline-block;
}
.twitter-item .header .profile-info .profile-picture {
  display: inline-block;
  padding: 2px 0;
  vertical-align: top;
}
.twitter-item .header .profile-info .profile-picture img {
  height: 46px;
  width: 46px;
  border-radius: 23px;
}
.twitter-item .header .profile-info .names {
  display: inline-block;
  padding: 3px 5px;
}
.twitter-item .header .profile-info .names .name {
  display: block;
}
.twitter-item .header .profile-info .names .handle {
  display: block;
}
.twitter-item .header .logo {
  display: inline-block;
  padding: 2px;
  float: right;
}
.twitter-item .header .logo img {
  height: 46px;
  width: 46px;
}
.twitter-item .tweet {
  display: block;
  padding: 15px;
}
.twitter-item .footer {
  display: block;
  padding: 15px;
}
.twitter-item .footer .actions {
  display: inline-block;
}
.twitter-item .footer .actions img {
  height: 20px;
}
.twitter-item .footer .date {
  display: inline-block;
  float: right;
}
