<div class="twitter-item">
	<div class="header">
		<div class="profile-info">
			<div class="profile-picture">
				<img [src]="tweet.user.profile_image_url_https"/>
			</div>
			<div class="names">
				<div class="name">Ye</div>
				<div class="handle">@kanye</div>
			</div>
		</div>
		<div class="logo">
			<img src="assets/img/twitter-logo.png"/>
		</div>
	</div>
	<div class="tweet">tweet</div>
	<div class="footer">
		<div class="actions">
			<img src="assets/img/twitter-actions.png"/>
		</div>
		<div class="date">1 Mar 2006</div>
	</div>
</div>
