#screen {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif !important;
}
#screen #sign-up-cont {
  position: relative;
  top: 50%;
  transform: translateY(-55%);
  display: block;
  margin: auto;
  max-width: 500px;
  width: 100%;
  padding: 0 10px;
}
#screen #sign-up-cont #logo {
  display: block;
  margin: auto;
  width: 100%;
}
#screen #sign-up-cont #logo img {
  height: 150px;
  width: 150px;
  display: block;
  margin: auto;
}
#screen #sign-up-cont #form-header {
  width: 100%;
  display: block;
  margin: auto;
  height: 34px;
}
#screen #sign-up-cont #form-header .tab {
  display: inline-block;
  width: 50%;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  float: left;
}
#screen #sign-up-cont #form-header .tab a {
  text-decoration: none;
}
#screen #sign-up-cont #form-header .active {
  color: #ffd633;
  text-decoration: none;
}
#screen #sign-up-cont hr {
  width: 100%;
  margin-top: 10px;
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.25), transparent);
}
#screen #sign-up-cont #form-cont {
  width: 100%;
  display: block;
  margin: auto;
}
#screen #sign-up-cont #form-cont input {
  margin: 10px 0;
}
#screen #sign-up-cont #form-cont .submit-cont {
  text-align: center;
}
#screen #sign-up-cont #form-cont .submit-cont .btn {
  display: inline-block;
  background-color: #393e46;
  outline: none;
  color: white;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 15px 40px;
  text-transform: uppercase;
  border-color: #393e46;
}
