<div id="screen">
	<div id="sign-up-cont">
		<div id="logo">
			<img src="assets/img/jumla-logo.png" />
		</div>
		<div id="form-header">
			<div class="tab">
				<a routerLink="/sign-in" routerLinkActive="active" id="login-form-link">Sign In</a>
			</div>
			<div class="tab">
				<a routerLink="/sign-up" routerLinkActive="active" id="sign-up-form-link">Sign Up</a>
			</div>
		</div>
		<hr>
		<div id="form-cont">
			<input [(ngModel)]="username" type="text" class="username form-control" placeholder="Username" value="">
			<input [(ngModel)]="password" type="password" class="password form-control" placeholder="Password">
			<input [(ngModel)]="confirmPassword" type="password" class="confirm-password form-control" placeholder="Confirm Password">
			<div class="submit-cont">
				<input type="submit" name="" class="btn" value="Continue" (click)="validateInput()">
			</div>
		</div>
	</div>
</div>
<router-outlet></router-outlet>
