<div class="item-instagram">
	<a href="">
		<div class="header">
			<div class="profile-info">
				<div class="profile-picture">
					<img src="assets/img/verified.png"/>
				</div>
				<div class="profile-username">Rih-Rih</div>
				<div class="profile-verified">
					<img src="assets/img/verified.png"/>
				</div>
			</div>
			<div class="follow-button-cont">
				<div class="follow-button">Follow</div>
			</div>
		</div>
		<div class="image">
			<img src="assets/img/rihanna.jpg"/>
		</div>
		<div class="likes">1,000 likes</div>
		<div class="caption">This is a temp caption</div>
		<div class="comments">View all 2,345 comments</div>
	</a>
</div>
